<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td><H2><font color="#336699" class="PageHeader">The Grid Engine Source License</font></H2></td>
</tr>
</table>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td>

<br><br>
<H3><font color="#CC3300" class="SectionHeader">
The Sun Industry Standards Source License</font></H3>
The source code for Grid Engine has been released to the open source 
community under the
<a href="/project/gridengine/Gridengine_SISSL_license.html">Sun Industry Standards Source License</a>. This license is
recognized as a free and open license by <A href="http://www.gnu.org/fsf/fsf.html">
The Free Software Foundation</A> and 
<a href="http://www.opensource.org">The Open Source Initiative (OSI)</a>. 

With this license, developers may modify and distribute 
source code and derived binaries freely. Furthermore, developers can choose 
to keep their modifications confidential or make 
them public. This allows commercial vendors to integrate and extend the technology
covered under the license into their products without the need to disclose their 
proprietary implementations.  
<p>
The Sun Industry Standards License is further designed to encourage and support 
the development of industry standards through the open community-development 
process. The license has requirements designed to discourage divergence from 
the standard(s) referenced in the license. If developers deviate from the 
standard(s) and desire to license their implementation to others, they may do 
so but they must declare their deviation from the standard(s) through a public 
description and a public reference implementation of those deviations. 
<p>
These license features support the Grid Engine <A href="/project/gridengine/background.html">
project objectives</A> to facilitate a strong base of Grid Engine users and 
independent providers, the development of standard APIs and protocols, 
and the interoperability of Grid Engine implementations from all participants in the 
project. 
<p></p>
<H3><font color="#CC3300" class="SectionHeader">Contributing Code to Grid Engine</font></H3>


Any developer who wishes to become a Contributor, Committer, Module Owner or 
Project Owner -- in that he or she wishes to contribute new code to the 
Concurrent Versions System (CVS) tree -- must also sign a 
<a href="/project/gridengine/Grid_Engine_contributor_agreement.PDF">Contributor 
Agreement</a>. This agreement states that to your knowledge,  
the code you've submitted was developed by you, and that you 
have authority to provide it and any related IP to the Grid Engine project. 
This IP license protects the contributor and all participants in the project.
<p></p>
<H3><font color="#CC3300" class="SectionHeader">
Respect For Copyright Ownership and Law</span></font></H3>

Distributed computing technologies have created opportunities for
innovative use of programs and data. Although Sun cannot universally prevent, 
control, monitor or record the activities of users of Grid Engine technology, 
Sun strongly adheres to an overriding principle requiring the highest level 
of respect for the rights and property 
of copyright owners, including Sun, as paramount to the passion to collaborate and
develop new technologies. All users and participants in this Grid Engine
project are reminded to comply with applicable law and regulation, the
Grid Engine license, Terms of Use, and these Guiding Principles concerning any
use of copyrighted materials. In this regard, Sun maintains that
development which makes it easier to create new products and services
can be provided without infringing the intellectual property rights of
others.</P>

</td>
</tr>
</table>

